language: rust
rust:
  - 1.36.0
  - stable
  - beta
  - nightly
os:
  - linux
  - osx
matrix:
  fast_finish: true
  allow_failures:
    - rust: nightly

script:
  - cargo build --verbose
  - cargo test --verbose
  - cargo build --release
  - cargo test --release
  - make api
before_deploy:
  - cargo doc --no-deps
  - echo '<meta http-equiv=refresh content=0;url=goblin/index.html>' > target/doc/index.html;
deploy:
  - provider: pages
    skip-cleanup: true
    local-dir: target/doc
    github-token: "$GITHUB_OAUTH_TOKEN"
    keep-history: false
    on:
      branch: master
      condition: $TRAVIS_OS_NAME = "linux" && $TRAVIS_RUST_VERSION = "stable"
