[package]
name = "goblin"
version = "0.0.3"
authors = ["m4b <m4b.github.io@gmail.com>", "seu <seu@panopticon.re>"]
readme = "README.md"
keywords = ["binary", "elf", "mach", "pe", "cross-platform"]
repository = "https://github.com/m4b/goblin"
license = "MIT"
description = "An impish, cross-platform binary parsing and loading crate"

[lib]
crate-type = ["rlib", "dylib"]

[dependencies.byteorder]
version = "0.5"
optional = true

[features]
default = ["std", "elf32", "elf64", "mach32", "mach64", "pe32", "pe64", "goblin", "endian_fd", "archive"]
std = []
elf32 = []
elf64 = []
mach32 = []
mach64 = []
pe32 = []
pe64 = []
goblin = []
archive = ["std", "endian_fd"]
endian_fd = ["byteorder"]
