[package]
name = "goblin"
version = "0.0.8"
authors = ["m4b <m4b.github.io@gmail.com>", "seu <seu@panopticon.re>"]
readme = "README.md"
keywords = ["binary", "elf", "mach", "pe", "archive"]
repository = "https://github.com/m4b/goblin"
license = "MIT"
description = "An impish, cross-platform binary parsing and loading crate"
documentation = "https://docs.rs/goblin"

[lib]

[dependencies.scroll]
version = "0.3.0"
default_features = false

[dependencies.scroll_derive]
version = "0.3.0"
optional = true

[features]
default = ["std", "elf32", "elf64", "mach32", "mach64", "pe32", "pe64", "goblin", "endian_fd", "archive", "scroll/std"]
std = ["scroll/std", "scroll_derive"]
endian_fd = ["std"]
elf32 = []
elf64 = []
mach32 = []
# for now we will require mach64 and pe to be std + endian_fd
mach64 = ["std", "endian_fd"]
pe32 = ["std", "endian_fd"]
pe64 = ["std", "endian_fd"]
archive = ["endian_fd"]
goblin = []

# [profile.dev]
# opt-level = 0
# debug = true
# rpath = false
# lto = false
# debug-assertions = true
# codegen-units = 4
